img.img-thumbnail {
    height: 100px;
    min-width: 100px !important;
    margin-bottom: 2px;
}

.nv-file-over {
    border: dotted 3px red;
}

input[type=file] {
    color: transparent;
}

.img-container {
    position: relative;
    height: 100px;
    width: 100px;
}

.img-overlay {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: red;
    background: rgba(255, 255, 255, 0.6);
}