<div class="row">
  <div class="col-sm-2" *ngFor="let photo of photos">
    <div>
      <h3 class="mt-2">{{ photo.userName }}</h3>
      <img src="{{ photo.url }}" class="img-thumbnail p-1 mb-2" alt="" />
      <div class="text-center">
        <button
          type="button"
          class="btn btn-sm mr-1 btn-success"
          (click)="approve(photo.id)"
        >
          Approve
        </button>
        <button
          type="button"
          class="btn btn-sm btn-danger"
          (click)="reject(photo.id)"
        >
          Reject
        </button>
      </div>
    </div>
  </div>
</div>
